:root {
  --MAX_HEIGHT: 720px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

video {
  display: inline-block;
}

#video_player {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  aspect-ratio: 16 / 9;
}

.analytics {
  overflow: auto;
  max-height: var(--MAX_HEIGHT);
}

.analytics_item {
  border-top: 3px solid rgba(102, 123, 71, 0.8);
  background-color: rgba(102, 123, 71, 0.1);
  padding: 15px;
  cursor: pointer;
}

.box_player {
  position: absolute;
  background-color: rgba(0, 255, 0, 0.8);
}
